
body {
  background-color: white;
  min-width: 650px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-bottom: 100px;
}
h1 {
  font-family: "Open Sans";
  font-style: bold;
  color: black;
  font-size: 22px;
  text-align: center;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}
p {
  font-family: "Open Sans";
  text-align: left;
  color:  #404040;
  font-size: 13px;
  line-height: 16px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 4px;
}
a {
  color: #404040;
}
a:hover {
  background-color: silver;
  border-color: silver;
  box-shadow: 0px 1px 5px #898989;
}
::selection {
  color: black;
  background: rgba(210,210,210,0.8);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0,0,0,0.35);
  opacity: 1; /* Firefox */
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 265px;
}

hr {
  margin-top: 53.5px;
  margin-bottom: 44px;
  width:97%;
}
.box {
  margin-top: 22px;
}
.material-icons {
  vertical-align: middle;
  padding-bottom: 2.75px;
}
a.WForm {
  text-decoration: none;
  font-family: "Open Sans";
  font-size:13px;
  background-color: silver;
  color: #404040;
  border: 7px silver solid;
  border-radius: 10px;
  padding: 0px;
  box-shadow: 0px 0px 0px silver;
  z-index: 10;

  transition-duration: 0.12s;
}
a.WForm:hover { 
  color: white;
  box-shadow: 0px 3px 10px black ;
  background-color: black;
  border: 7px black solid;
  transform: translateY(-2px);
}